.task-Business, .task-General, .task-Entertainment, .task-Important {
  margin-top: 20px;
  color: #c4c4c4;
  min-height: 9%;
  position: relative; }

.task-Business .taskTypeRound, .task-General .taskTypeRound, .task-Entertainment .taskTypeRound, .task-Important .taskTypeRound {
  margin-top: 8px;
  position: absolute;
  left: -20px;
  top: 12px;
  z-index: 90;
  height: 11px;
  width: 11px;
  border-radius: 50%; }

.task-Business .taskTime, .task-General .taskTime, .task-Entertainment .taskTime, .task-Important .taskTime {
  color: white;
  font-size: 80%;
  line-height: 1.5em;
  padding-left: 2px; }

.task-Business .taskType, .task-General .taskType, .task-Entertainment .taskType, .task-Important .taskType {
  line-height: 1.6em;
  font-size: 70%;
  letter-spacing: 1px; }

.task-Business .taskContent, .task-General .taskContent, .task-Entertainment .taskContent, .task-Important .taskContent {
  max-width: 70%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: 'Heebo', sans-serif; }

button {
  outline: none; }

body {
  background: #161616;
  color: white;
  height: 100%;
  overflow: auto; }

/* width */
::-webkit-scrollbar {
  width: 6px; }

/* Track */
::-webkit-scrollbar-track {
  background: #acacac; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 5px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }
  .headerContainer .header span {
    font-family: 'Knewave', cursive;
    font-size: 600%;
    line-height: 1.3em;
    opacity: 0; }
  .headerContainer .header p {
    border-bottom: 1px solid #ff2f40;
    text-align: right;
    font-family: 'Dancing Script', cursive;
    font-size: 100%;
    opacity: 0; }

.menu {
  color: #ff2f40;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .menu h1 {
    text-align: center; }
  .menu .menuGrid {
    width: 90%; }
    .menu .menuGrid .calendar, .menu .menuGrid .todo, .menu .menuGrid .timer {
      border: 1px solid #ff2f40;
      width: 100%;
      height: 12%;
      padding-left: 20px;
      margin-top: 15px;
      border-radius: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .menu .menuGrid .calendar h3, .menu .menuGrid .todo h3, .menu .menuGrid .timer h3 {
        color: #d1d1d1;
        margin-left: 30px;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 2px; }

#calendar {
  height: 100%; }

.datePanelTodo {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
  background: #1f1f1f;
  height: 80px;
  z-index: 100;
  overflow: hidden; }
  .datePanelTodo .addTaskButton {
    position: absolute;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff6982), to(#ff2f40));
    background: -webkit-linear-gradient(#ff6982, #ff2f40);
    background: -o-linear-gradient(#ff6982, #ff2f40);
    background: linear-gradient(#ff6982, #ff2f40);
    float: right;
    top: 30px;
    right: 20px;
    cursor: pointer; }
    .datePanelTodo .addTaskButton img {
      padding-left: 9.5px;
      padding-top: 9px; }
  .datePanelTodo #dateTodo {
    font-size: 150%;
    color: #979797;
    font-weight: 300; }
  .datePanelTodo #noOfTasks {
    font-size: 70%; }

.addTaskButton {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6982), to(#ff2f40));
  background: -webkit-linear-gradient(#ff6982, #ff2f40);
  background: -o-linear-gradient(#ff6982, #ff2f40);
  background: linear-gradient(#ff6982, #ff2f40);
  cursor: pointer; }
  .addTaskButton img {
    padding-left: 9.5px;
    padding-top: 9px; }

.progress {
  position: fixed;
  width: 100%;
  top: 80px;
  z-index: 100; }
  .progress .progressBack {
    height: 8px;
    background: #3a3a3a; }
  .progress .progressFront {
    position: absolute;
    top: 0px;
    height: 8px;
    background: -webkit-gradient(linear, left top, right top, from(#ff2f40), to(#ff6982));
    background: -webkit-linear-gradient(left, #ff2f40, #ff6982);
    background: -o-linear-gradient(left, #ff2f40, #ff6982);
    background: linear-gradient(to right, #ff2f40, #ff6982);
    width: 80%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.taskHolder {
  position: relative;
  top: 80px;
  padding-left: 8%;
  overflow: auto;
  height: 91%;
  padding-bottom: 10px; }
  .taskHolder .bordervertical {
    background: -webkit-gradient(linear, left top, left bottom, from(#a7a7a7), to(#636363));
    background: -webkit-linear-gradient(#a7a7a7, #636363);
    background: -o-linear-gradient(#a7a7a7, #636363);
    background: linear-gradient(#a7a7a7, #636363);
    width: .5px;
    height: 100vh;
    position: fixed; }
  .taskHolder .taskContainer {
    padding: 15px;
    border-left: .5px solid #999999; }

.completeButton .buttonBack {
  position: absolute;
  top: 14px;
  right: 7px;
  height: 16px;
  width: 40px;
  border-radius: 15px;
  background: #2c2c2c; }

.completeButton .buttonFront {
  position: absolute;
  top: 12px;
  right: 27px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #5f5f5f; }
  .completeButton .buttonFront img {
    opacity: 0;
    padding-left: 5px;
    padding-top: 5.5px; }

.task-Business .taskTypeRound {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff82b7), to(#ff2f89));
  background: -webkit-linear-gradient(#ff82b7, #ff2f89);
  background: -o-linear-gradient(#ff82b7, #ff2f89);
  background: linear-gradient(#ff82b7, #ff2f89); }

.task-Business .taskContent {
  font-weight: 300;
  line-height: 1em; }

.task-Business .taskType {
  color: #ff599e; }

.task-General .taskTypeRound {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9355), to(#ffbd2f));
  background: -webkit-linear-gradient(#ff9355, #ffbd2f);
  background: -o-linear-gradient(#ff9355, #ffbd2f);
  background: linear-gradient(#ff9355, #ffbd2f); }

.task-General .taskContent {
  font-weight: 300;
  line-height: 1em; }

.task-General .taskType {
  color: #ffd375; }

.task-Entertainment .taskTypeRound {
  background: -webkit-gradient(linear, left top, left bottom, from(#9ed8ff), to(#15b8f8));
  background: -webkit-linear-gradient(#9ed8ff, #15b8f8);
  background: -o-linear-gradient(#9ed8ff, #15b8f8);
  background: linear-gradient(#9ed8ff, #15b8f8); }

.task-Entertainment .taskContent {
  line-height: 1em; }

.task-Entertainment .taskType {
  color: #9ed8ff; }

.task-Important .taskTypeRound {
  background: -webkit-gradient(linear, left top, left bottom, from(#a6ff9e), to(#15f83b));
  background: -webkit-linear-gradient(#a6ff9e, #15f83b);
  background: -o-linear-gradient(#a6ff9e, #15f83b);
  background: linear-gradient(#a6ff9e, #15f83b); }

.task-Important .taskContent {
  line-height: 1em; }

.task-Important .taskType {
  color: #b1ff9e; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.addTaskModal {
  position: absolute;
  background: #1b1b1b;
  min-height: 400px;
  max-height: 93%;
  width: 93%;
  top: 13%;
  left: 3%;
  z-index: 100;
  -webkit-box-shadow: 1px 2px 5px black;
  box-shadow: 1px 2px 5px black;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  border-radius: 5px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5em; }
  .addTaskModal .addTaskModalButton {
    position: absolute;
    bottom: 5%;
    left: 40%;
    background: whitesmoke;
    font-size: 16px;
    font-weight: 600;
    color: #ff2f40;
    width: 25%;
    height: 9%;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100; }
  .addTaskModal .modalHeader {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 43px;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 4%; }
    .addTaskModal .modalHeader #plusIcon {
      margin-top: -3;
      padding-right: 5px; }
    .addTaskModal .modalHeader #crossIcon {
      position: absolute;
      top: 15;
      right: 15px;
      z-index: 1000; }
    .addTaskModal .modalHeader h2 {
      font-weight: 500;
      text-align: center;
      font-size: 120%; }
  .addTaskModal .modalContentContainer {
    position: absolute;
    left: 0;
    top: 10%;
    height: 80%;
    width: 100%; }
    .addTaskModal .modalContentContainer .leftContent {
      text-align: -webkit-right;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
      font-weight: 300;
      color: #ff2f40;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      height: 100%;
      max-width: 40%;
      padding: 3% 0% 3% 1%;
      float: left; }
    .addTaskModal .modalContentContainer .rightContent {
      padding: 4% 4%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      right: 20;
      max-width: 90%;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      .addTaskModal .modalContentContainer .rightContent select {
        background: #5a5a5a;
        color: #dfdfdf;
        height: 30px;
        border-radius: 3px;
        padding-left: 5px; }
      .addTaskModal .modalContentContainer .rightContent input {
        background: #353535;
        color: #dfdfdf;
        height: 30px;
        border-radius: 3px;
        border: .5px solid #8a8a8a;
        padding-left: 5px; }
      .addTaskModal .modalContentContainer .rightContent .dayRepeatContainer {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%; }
        .addTaskModal .modalContentContainer .rightContent .dayRepeatContainer .dayCheckboxOff {
          text-align: center;
          background: #353535;
          border: .5px solid #4b4a4a;
          width: 20px;
          height: 20px;
          border-radius: 3px;
          margin-right: 10px;
          font-size: 11px; }
        .addTaskModal .modalContentContainer .rightContent .dayRepeatContainer .dayCheckboxOn {
          text-align: center;
          background: crimson;
          width: 20px;
          height: 20px;
          border-radius: 3px;
          margin-right: 10px;
          font-size: 11px; }
  .addTaskModal .modalText {
    width: 100%;
    top: 22%;
    left: 4%;
    color: #ff2f40;
    font-weight: 800; }
