$pink:rgb(255, 47, 64);
$lgrey:rgb(209, 209, 209);
@mixin flex($JC,$AI) {
    display: flex;
    justify-content: $JC;
    align-items: $AI;
}
%taskPosition{
    margin-top: 20px;
    color: #c4c4c4;
    min-height: 9%;
    position: relative;
}
%taskTypeRound{
    margin-top: 8px;
    position: absolute;
    left: -20px;
    top: 12px;
    z-index: 90;
    height: 11px;
    width: 11px;
    border-radius: 50%;
}
%taskTime{
    color: white;
    font-size: 80%;
        line-height: 1.5em;
        padding-left: 2px;
}
%taskType{
    line-height: 1.6em;
    font-size: 70%;
    letter-spacing: 1px;
}
%taskContent{
    max-width: 70%;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Heebo', sans-serif;
}
button{
    outline: none;
    
    
}
body{
    background: #161616;
    color: white;
    height: 100%;
    overflow: auto;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #acacac; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(117, 117, 117); 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

// loading page//

.headerContainer{
    @include flex(center,center );
    flex-direction: column; 
    height: 100%;
    
    .header{
        span{
            font-family: 'Knewave', cursive;
            font-size: 600%;
            line-height: 1.3em;
            opacity: 0;
        }
        p{
            border-bottom: 1px solid $pink;
            text-align: right;
            font-family: 'Dancing Script', cursive;
            font-size: 100%;
            opacity: 0;
        }
    }
}

//menu page//

.menu{
    
    color: $pink;
    height: 100%;
    display: none ;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 

    h1{
        text-align: center;
    }
    .menuGrid{
        width: 90%;
       .calendar,.todo,.timer{
           border:1px solid $pink;
           width: 100%;
           height: 12%;
           padding-left: 20px;
           margin-top: 15px;
           border-radius: 5px;
           @include flex(start,center);
           h3{
               color: $lgrey;
               margin-left: 30px;
               font-family: 'Raleway', sans-serif;
               letter-spacing: 2px;
           }
       } 
    }
}

//calendar page//

#calendar{
    height: 100%;
}

//todo page//

.datePanelTodo{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px;
    background: #1f1f1f;
    height: 80px;
    z-index: 100;
    overflow: hidden;
    .addTaskButton{
        position: absolute;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        background: linear-gradient(rgb(255, 105, 130),rgb(255, 47, 64));
        float: right;
        top: 30px;
        right: 20px;
        cursor: pointer;
        img{
            padding-left:9.5px;
            padding-top: 9px; 
        }
    }   
    #dateTodo{
        font-size: 150%;
        color: #979797;
        font-weight: 300;
    }
    #noOfTasks{
        font-size: 70%;
    }
}
.addTaskButton{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background: linear-gradient(rgb(255, 105, 130),rgb(255, 47, 64));
    cursor: pointer;
    img{
        padding-left:9.5px;
        padding-top: 9px; 
    }
}
.progress{
    position: fixed;
    width: 100%;
    top: 80px;
    z-index: 100;
    .progressBack{
        height: 8px;
        background: #3a3a3a;
    }
    .progressFront{
        position: absolute;
        top: 0px;
        height: 8px;
        background: linear-gradient(to right, rgb(255, 47, 64),rgb(255, 105, 130));
        width: 80%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}



.taskHolder{
    position: relative;
    top: 80px;
    padding-left: 8%;
    overflow: auto;
    height: 91%;
    padding-bottom: 10px;
    .bordervertical{
        background: linear-gradient(rgb(167, 167, 167),rgb(99, 99, 99));
        width: .5px;
        height: 100vh;
        position: fixed;
    }
    .taskContainer{
       
        padding: 15px;
        border-left:.5px solid #999999;
       
       
    }
    
}.completeButton{
    .buttonBack{
   
        position: absolute;
        top: 14px;
        right: 7px;
        height: 16px;
        width: 40px;
        border-radius: 15px;
        background: #2c2c2c;
    }
    .buttonFront{
        position: absolute;
        top: 12px;
        right: 27px; 
        height: 22px;
        width: 22px;
        border-radius: 50%;
        background: #5f5f5f;
        img{
            opacity: 0;
            padding-left: 5px;
            padding-top: 5.5px;
        }
    }
}
//task types//
//business task//

.task-Business{
    @extend %taskPosition;
    .taskTypeRound{
        @extend %taskTypeRound;
        background:linear-gradient( rgb(255, 130, 183),rgb(255, 47, 137));
    }
    .taskTime{
        @extend %taskTime;
    }
    .taskContent{
        @extend %taskContent;
        font-weight: 300;
        line-height: 1em;
        
    }
    .taskType{
        @extend %taskType;
        color: rgb(255, 89, 158);
    }
}
.task-General{
    @extend %taskPosition;
    .taskTypeRound{
        @extend %taskTypeRound;
        background:linear-gradient( rgb(255, 147, 85),rgb(255, 189, 47));
    }
    .taskTime{
        @extend %taskTime;
    }
    .taskContent{
        @extend %taskContent;
        font-weight: 300;
        line-height: 1em;
    }
    .taskType{
        @extend %taskType;
        color: rgb(255, 211, 117);
    }
}
.task-Entertainment{
    @extend %taskPosition;
    .taskTypeRound{
        @extend %taskTypeRound;
        background:linear-gradient( rgb(158, 216, 255),rgb(21, 184, 248));
    }
    .taskTime{
        @extend %taskTime;
    }
    .taskContent{
        @extend %taskContent;
        line-height: 1em;
    }
    .taskType{
        @extend %taskType;
        color: rgb(158, 216, 255);
    }
}.task-Important{
    @extend %taskPosition;
    .taskTypeRound{
        @extend %taskTypeRound;
        background:linear-gradient( rgb(166, 255, 158),rgb(21, 248, 59));
    }
    .taskTime{
        @extend %taskTime;
    }
    .taskContent{
        @extend %taskContent;
        line-height: 1em;
    }
    .taskType{
        @extend %taskType;
        color: rgb(177, 255, 158);
    }
}
.overlay{
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    transform: scale(0);
    
}

.addTaskModal{
    position: absolute;
    background: #1b1b1b;
    min-height: 400px;
    max-height: 93%;
    width: 93%;
    top: 13%;
    left: 3%;
    z-index: 100;
    box-shadow: 1px 2px 5px black;
    transform:scale(0);
    border-radius: 5px; 
    z-index: 1000;
    display: flex;
    padding: .5em;
    .addTaskModalButton{
        position: absolute;
        bottom: 5%;
        left: 40%;
        background:whitesmoke;
        color: $pink;
        width: 25%;
        height: 9%;
        border-radius: 5px;;
    }
    .modalHeader{
        text-align: center;
        display: flex;
        height: 43px;
        width: 100%;
        align-items: center;
       justify-content:center;
       padding-bottom: 10px;
       margin-top: 8%;
        #plusIcon{
            margin-top:-3;
            padding-right:5px; 
        }
        #crossIcon{
           position: absolute;
           top: 15;
           right: 15px;
           z-index: 1000;
        }
        h2{  
            font-weight: 500;
            text-align: center;
            font-size: 120%;
        }
    }
    .modalContentContainer{
        position: absolute;
        left: 0;
        top: 10%;
        height: 80%;
        width: 100%;

        .leftContent{
            text-align: -webkit-right;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
            font-weight: 300;
            color: $pink;
            display: flex;  
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;
            max-width: 40%;
            padding: 8% 0% 8% 1%; 
            float: left;
        }
        .rightContent{
            padding: 8% 4%;
            height: 100%;
            display: flex;
            flex-direction: column;
            right: 20;
            max-width: 90%;
            justify-content: space-evenly;
            select{
                background: #727272;
                color: #dfdfdf;
            }
            input{
               background: #353535;
               color: #dfdfdf;
            }
            .dayRepeatContainer{
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                .dayCheckbox{
                    text-align: center;
                    background: #353535;
                    border: .5px solid #4b4a4a;
                    width: 20px;
                    height: 20px;
                    border-radius: 3px;
                    margin-right: 10px;
                    font-size: 11px;
                }
            }
        }
    }
    .modalText{
        width: 100%;
        top: 22%;
        left: 4%;
        color: $pink;
        font-weight: 800;
    }
}