$pink:rgb(255, 47, 137);
$lgrey:rgb(209, 209, 209);
@mixin flex($JC,$AI) {
    display: flex;
    justify-content: $JC;
    align-items: $AI;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
}
body{
    background: #161616;
    color: white;
    height: 100%;
    overflow: hidden;
}

// loading page//

.headerContainer{
    @include flex(center,center );
    flex-direction: column; 
    height: 100%;
    
    .header{
        span{
            font-family: 'Knewave', cursive;
            font-size: 600%;
            line-height: 1.3em;
            opacity: 0;
        }
        p{
            border-bottom: 1px solid $pink;
            text-align: right;
            font-family: 'Dancing Script', cursive;
            font-size: 100%;
            opacity: 0;
        }
    }
}

//menu page//

.menu{
    
    color: $pink;
    height: 100%;
    display: none ;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 

    h1{
        text-align: center;
    }
    .menuGrid{
        width: 90%;
       .calendar,.todo,.timer{
           border:1px solid $pink;
           width: 100%;
           height: 12%;
           padding-left: 20px;
           margin-top: 15px;
           border-radius: 5px;
           @include flex(start,center);
           h3{
               color: $lgrey;
               margin-left: 30px;
               font-family: 'Raleway', sans-serif;
               letter-spacing: 2px;
           }
       } 
    }
}

//calendar page//

.days{
    display: flex;
    justify-content: start;
    height: 25px;
    font-size: 11px;
    margin-top: 5px;
    div{
        padding-right: 43px;
    }
}
.calendarContainer{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-auto-rows: 80px;
    justify-content: center;
    align-content: center;
    color: $lgrey;
    width: 100%;
    div{
        border-bottom: 1px solid #222222;
        font-size: 11px;
    }
}
.nav{
    height: 40px;
    background: #858585;
}

//todo page//

.datePanelTodo{
    position: fixed;
    width: 100%;
    padding: 20px;
    background: #1f1f1f;
    height: 13%;
    z-index: 100;
    overflow: hidden;
    .dateTodo{
        font-size: 150%;
        color: #979797;
    }
    .noOfTasks{
        font-size: 70%;
    }
}
.progress{
    position: fixed;
    width: 100%;
    top: 12%;
    z-index: 100;
    .progressBack{
        height: 8px;
        background: #3a3a3a;
    }
    .progressFront{
        position: absolute;
        top: 0px;
        height: 8px;
        background: linear-gradient(to right, rgb(255, 47, 137),rgb(255, 130, 183));
        width: 80%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.addTaskButton{
    position: absolute;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background: linear-gradient( rgb(255, 130, 183),rgb(255, 47, 137));
    float: right;
    top: 25px;
    right: 20px;
    img{
        padding-left:9.5px;
        padding-top: 9px; 
    }
}
.taskHolder{
    position: relative;
    top: 13%;
    margin-left: 8%;
    border-left: 1px solid #3a3a3a;
    height: 87%;
    
    .taskContainer{
        height: 100%;
        padding: 15px;

    }
    
}
//task types//
//business task//

.task-Business{
    margin-top: 5px;
    color: #e9e9e9;
    min-height: 9%;
    .taskTypeRound{
        margin-top: 8px;
        position: absolute;
        left: -4.5px;
        z-index: 100;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        background:linear-gradient( rgb(255, 130, 183),rgb(255, 47, 137));
    }
    .taskTime{
        font-size: 60%;
        line-height: 1.5em;
        padding-left: 2px;
    }
    .taskContent{
        line-height: 1.4em;
        
    }
    .taskType{
        line-height: 1.2em;
        font-size: 70%;
        letter-spacing: 1px;
        color: rgb(255, 89, 158);
    }
}
.task-General{
    margin-top: 10px;
    color: #e9e9e9;
    min-height: 9%;

    .taskTypeRound{
        margin-top: 8px;
        position: absolute;
        left: -4.5px;
        z-index: 100;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        background:linear-gradient( rgb(255, 147, 85),rgb(255, 189, 47));
    }
    .taskTime{
        font-size: 60%;
        line-height: 1.5em;
        padding-left: 2px;
    }
    .taskContent{
        line-height: 1.4em;
    }
    .taskType{
        line-height: 1.2em;
        font-size: 70%;
        letter-spacing: 1px;
        color: rgb(255, 211, 117);
    }
}
.task-Entertainment{
    margin-top: 10px;
    min-height: 9%;
    color: #e9e9e9;
    .taskTypeRound{
        margin-top: 8px;
        position: absolute;
        left: -4.5px;
        z-index: 100;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        background:linear-gradient( rgb(158, 255, 187),rgb(21, 248, 123));
    }
    .taskTime{
        font-size: 60%;
        line-height: 1.5em;
        padding-left: 2px;
    }
    .taskContent{
        line-height: 1.4em;
    }
    .taskType{
        line-height: 1.2em;
        font-size: 70%;
        letter-spacing: 1px;
        color: rgb(158, 255, 187);
    }
}.task-Important{
    margin-top: 10px;
    min-height: 9%;
    color: #e9e9e9;
    .taskTypeRound{
        margin-top: 8px;
        position: absolute;
        left: -4.5px;
        z-index: 100;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        background:linear-gradient( rgb(255, 158, 158),rgb(248, 21, 21));
    }
    .taskTime{
        font-size: 60%;
        line-height: 1.5em;
        padding-left: 2px;
    }
    .taskContent{
        line-height: 1.4em;
    }
    .taskType{
        line-height: 1.2em;
        font-size: 70%;
        letter-spacing: 1px;
        color: rgb(255, 158, 158);
    }
}